@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @layer base {
    .h1 {
      @apply text-burgundy text-7xl font-extrabold -tracking-[2px] leading-[80px];
    }

    .h2 {
      @apply text-burgundy text-[56px] font-extrabold -tracking-[1px] leading-[64px];
    }

    .h3 {
      @apply text-burgundy text-[40px] font-extrabold leading-[48px];
    }

    .h4 {
      @apply text-burgundy text-2xl font-bold leading-8;
    }

    .h5 {
      @apply text-orange text-base font-normal tracking-[3px] leading-8 uppercase;
    }

    .label {
      @apply text-burgundy text-xs font-bold uppercase;
    }

    .text-big {
      @apply text-burgundy font-normal text-xl leading-8;
    }

    .text {
      @apply text-burgundy font-normal text-base leading-8;
    }

    .text-gray {
      @apply text-burgundy font-normal opacity-[64%] text-base leading-8;
    }

    .text-small {
      @apply text-burgundy font-normal opacity-[64%] text-sm leading-6;
    }

    .wrapper {
      @apply max-w-[1216px] px-min mx-auto;
    }
  }
}

body {
  font-family: "Epilogue";
  background-color: #fdf0e9;
}

.rounded-full-all-children * {
  border-radius: 9999px;
}

#team-pagination .swiper-pagination-bullet {
  background-color: transparent !important;
  border: 1px solid white;
  width: 10px !important;
  height: 10px !important;
}

#team-pagination .swiper-pagination-bullet-active {
  background-color: #ef6d58 !important;
  border: none;
  width: 12px !important;
  height: 12px !important;
}

#team .swiper-slide {
  width: auto;
}